@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:after, *:before{
	@apply box-border p-0 m-0 font-[ArminGroteskRegular] text-dark-blue /*outline outline-red-500*/;
}

@font-face {
	font-family: ArminGroteskBlack;
	src: url("./assets/fonts/ArminGroteskBlack.otf");
	font-weight: 900;
}

@font-face {
	font-family: ArminGroteskSemiBold;
	src: url("./assets/fonts/ArminGroteskSemiBold.otf");
	font-weight: 600;
}

@font-face {
	font-family: ArminGroteskRegular;
	src: url("./assets/fonts/ArminGroteskRegular.otf");
	font-weight: 400;
}

@font-face {
	font-family: RobotoMonoBold;
	src: url("./assets/fonts/RobotoMonoBold.ttf");
	font-weight: 700;
}


header{
	@apply mx-4;
}

#navbar {
	@apply py-4 flex flex-row justify-between items-center  bg-yellow-white mx-auto max-w-[1010px] lg:px-2;
}

#navbar-logo {
	@apply fill-blue hover:fill-lighter-hover-blue;
}

.navbar-links{
	@apply hidden md+:inline-block uppercase text-blue text-sm font-[ArminGroteskBlack] tracking-wider hover:outline outline-2 outline-blue rounded-md px-2 py-1;
}

#navbar-button {
	@apply bg-blue  hover:bg-lighter-hover-blue text-white text-sm tracking-widest font-[ArminGroteskBlack] px-3.5 py-1.5 rounded-md;
}

#navbar-menu-icon {
	@apply text-2xl text-blue md+:hidden;
}

#products-on-hover, #resources-on-hover{
	@apply hidden md+:grid grid-rows-4 grid-cols-3 rounded-md gap-5 absolute inset-x-1 mx-auto w-[785px] top-14 z-2 bg-white p-4 shadow-md md++:mx-1 lg:mx-auto lg:inset-x-[unset];
}

#resources-on-hover{
	@apply grid-rows-2 p-2;
}

.ugh{
	@apply font-[ArminGroteskSemiBold] text-blue hover:underline;
}

.ughh{
	@apply hover:bg-[#faf5ff] p-1 rounded-md;
}

.ughh>h4{
	@apply text-blue font-[ArminGroteskSemiBold];
}

.ughh>p{
	@apply text-sm;
}


#below-navbar{
	@apply flex justify-between flex-wrap md:hidden;
}

#below-navbar>a, .categories--extension>a, aside>a{
	@apply  text-grey hover:text-lighter-hover-blue font-[ArminGroteskSemiBold];
}

#below-navbar>a{
	@apply my-6 xs:mb-10;
}

.search-container{
	@apply relative pt-1.5 pb-[0.7rem] border-b border-b-gray-200 flex-[1_1_100%] md:flex-initial;
}

.search{
	@apply outline outline-2 outline-gray-400 focus:outline-lighter-hover-blue py-3 rounded-md w-[56.8vw] /*w-[13.5rem]*/;
}

.search-icon{
	@apply text-xl absolute left-3 top-[1.25rem] text-gray-400 pointer-events-none;
}

.up-icon{
	@apply hidden;
}

.categories--extension{
	@apply hidden mx-4 p-4 grid-cols-[repeat(2,_minmax(100px,_1fr))] justify-between gap-4 rounded-md bg-not-too-far-from-white mb-7;
}





#content-container{
	@apply px-4 gap-x-16 md:flex md:px-6 md:mt-16;
}

#aside{
	@apply hidden md:flex min-w-[17rem] w-[17rem] md:flex-col gap-y-[2.1rem];
}

#aside .search-container{
	@apply border-none pb-0;
}

#aside .search{
	@apply w-full py-[0.7rem];
}

#aside>a{
	@apply mx-5;
}

#aside-search-icon{
	@apply top-[2.7rem];
}

#aside-categories--extension{
	@apply hidden flex flex-col bg-transparent gap-y-[2.2rem] ml-8 mr-0 mb-0 pb-0;
}


#contribute{
	@apply mt-2 p-6 rounded-md bg-light-purple;
}

#contribute>#contribute-subheading{
	@apply text-base text-[0.94rem];
}

#contribute-button{
	@apply rounded-md bg-blue text-white px-[2.75rem] py-[0.6rem] inline-block;
}



/*#main{
	@apply w-auto
}*/

#first-section{
	@apply py-8 md:pt-0;
}

.section-header-heading{
	@apply font-[ArminGroteskBlack] text-5xl leading-[53px] text-dark-blue;
}

.section-header-view{
	@apply text-blue hover:text-hover-blue underline uppercase text-nowrap font-[RobotoMonoBold] tracking-wider;
}

.section-header-subheading, #contribute-subheading{
	@apply text-dark-blue text-xl my-2 mb-7;
}


#fs-cards-container{
	grid-template-rows: repeat(6, 218px);
	@apply grid gap-y-8 xs:grid-rows-[repeat(6,_190px)] /*md:grid-cols-[repeat(auto-fill,_260px)]*/ md:auto-rows-[235px] md:grid-rows-none md:grid-cols-[260px];
}

.fs-cards{
	@apply border border-gray-200 hover:border-gray-400 rounded-md p-6 overflow-hidden;
}

.fs-card-image{
	@apply w-10 border rounded-md;
}

.fs-card-type{
	@apply font-[RobotoMonoBold] uppercase tracking-wider text-blue pt-3 pb-1;
}

.fs-card-title, .ss-card-title, #contribute-heading{
	@apply text-2xl font-[ArminGroteskBlack] z-1 relative overflow-hidden text-ellipsis max-h-[95px];
}



#ss-cards-container{
	@apply grid gap-y-8 grid-cols-[repeat(auto-fill,_269px)] gap-x-8;
}

.ss-cards{
	@apply relative w-[260px] h-[350px] p-9 rounded-md;
}

.ss-card-image{
	@apply absolute inset-x-0 bottom-0 z-0;
}



#footer{
	@apply px-6 bg-dark-blue mt-40;
}

#top-footer{
	@apply grid grid-cols-[repeat(auto-fill,_minmax(146px,_1fr))] justify-between gap-10 pt-20 pb-12 md:gap-9 md+:grid-cols-4 lg:gap-14;
}

.tf-divs{
	@apply flex flex-col;
}

.tf-divs>*{
	@apply my-1.5
}

.tf-divs-heading{
	@apply font-[ArminGroteskBlack] uppercase text-sm tracking-wider  text-white;
}

.tf-divs>a{
	@apply font-[ArminGroteskSemiBold] hover:underline  text-white;
}


#bottom-footer{
	@apply flex justify-between py-20 flex-wrap xs:pt-9;
}

@media screen and (min-width: 913px){
	#bottom-footer{
		@apply pb-9;
	}
}

#bf-logos-container{
	@apply flex mb-8 w-64;
}

.bf-logos{
	@apply w-8 mr-3;
}


#copyright{
	@apply text-gold font-[RobotoMonoBold] tracking-wider;
} 